.layer {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -40%);
  z-index: 1;
}

.hero__section {
  width: 100%;
  padding-top: 60px;
  position: relative;
  z-index: 2;
}

.hero__content {
  height: 100%;
  margin: 0 auto;
  width: 1256px;
  max-width: 1380px;
}

.hero__content__top {
  display: flex;
  gap: 40px;
}

.hero__content__text {
  padding: 43.66px 15.93px 0px 45.54px;
  border-radius: 15px;
  background-color: #b5e1ff;
  display: flex;
  flex-direction: column;
  gap: 46.35px;
  width: 835px;
}

.hero__content__text h2 {
  color: #0a0f34;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 63.034px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  width: 50%;
}

.hero__content__text__sub {
  gap: 22px;
  display: flex;
  flex-direction: column;
}

.hero__content__text__sub__item {
  display: flex;
  gap: 10px;
}

.hero__content__text__sub__item img {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 20px;
}

.hero__content__text__sub__item p {
  color: #0a0f34;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}

.hero__content__image {
  width: 50%;
}

.hero__content__aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__content__aside__top {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: #ff5826;
  border-radius: 16px;
  padding-bottom: 33px;
}

.hero__content__aside__top img {
  width: 150px;
  height: 98.2px;
  margin: 30px 195px 0px 30px;
}

.hero__content__aside__top p {
  margin: 30px 0px 0px 30px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.hero__content__aside__bottom {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: #00cd73;
  border-radius: 16px;
  padding-bottom: 33px;
}

.hero__content__aside__bottom img {
  width: 150px;
  height: 98.2px;
  margin: 30px 195px 0px 30px;
}

.hero__content__aside__bottom p {
  margin: 30px 0px 0px 30px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

.hero__content__aside__bottom img {
  width: 150px;
  height: 98.2px;
}

.hero__content__bottom {
  max-width: 1380px;
  border-bottom: 1px solid #dfe2ee;
  height: 50px;
}

.hero__usp__content {
  display: flex;
  gap: 149.51px;
  padding: 0px 50px 0px 50px;
  height: 100%;
}

.hero__usp__item {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero__usp__item p {
  margin: 0px;
  color: #0a0f34;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
